.NoteInputComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  max-width: 480px;
  max-height: 480px;
  background-color: #371C44;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.4);
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
}

.base-input {
  width: 100%;
  border: none;
  border-radius: 4px;

}

.title-input {
  padding: 10px 14px;

}

.upload-image:hover {
  filter: contrast(0.8) opacity(0.8);
}

/* Scrollbar */
.scrollable {
  /*   max-height: 200px;
  overflow-y: auto; */
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: '#a0a0a0';
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}